/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
.picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* adding root variables */

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --fs-para: 15px;
  --fw-light: 400;
  --fw-semibold: 700;
  --fw-bold: 800;
  --ff-text: "Inter", sans-serif;
}

body {
  background-color: var(--Off-white);
  font-family: var(--ff-text);
  font-size: var(--fs-para);
}
.total__body {
  width: 100%;
  max-height: 100vh;
  padding-inline: 3rem;
  padding-block: 1rem;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-row-span-2 {
  grid-row: span 2;
}

.grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  background-size: cover;
}

@media (max-width: 650px) {
  .grid__container {
    grid-template-columns: 1fr;
  }
  .grid-col-span-2 {
    grid-column: span 1;
  }
  .grid__item:nth-child(3) {
    /* background-color: aquamarine; */
    grid-row-start: 2;
  }
  .grid__item:nth-child(4) {
    /* background-color: aquamarine; */
    grid-row-start: 3;
  }
  .strong__parabtn {
    margin-top: 2rem;
  }
  .image__main .desktop__img {
    display: none;
  }
  .image__main .mobile__img {
    display: block;
  }
  .grid__container .grid__item:nth-child(n+3){
    margin-top:0rem;
    margin-bottom: 0rem;
  }
  .grid__item:nth-child(n+3) .flex__item {
    padding: 0%;
  }
  .grid__item:nth-child(n+3) .flex__item img {
    width: 25%;
  }
  .grid__container .grid__item:nth-child(5){
    margin-top: 2rem;
  }
  .grid__container .grid__item:nth-child(7){
    margin-bottom: 3rem;
  }
}

.grid__item:nth-child(1) {
  height: fit-content;
  margin: 0%;
  grid-row: 1 2;
}

.mobile__img {
  display: none;
}

.grid__item:nth-child(2) {
  grid-row: span 2;
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
  height: 100%;
  padding: 1.5rem;
}

.grid__item:nth-child(2) .right__article h1 {
  font-size: 36px;
  padding-bottom: 1rem;
  color: var(--Soft-orange);
  font-weight: var(--fw-bold);
}

.grid__item:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--Dark-grayish-blue);
}

.grid__item:nth-child(4) button {
  width: 200px;
  height: 50px;
  border: none;
  color: whitesmoke;
  background-color: var(--Soft-red);
  font-weight: 900;
  letter-spacing: 0.25rem;
}

.grid__item:nth-child(4) button:hover {
  cursor: pointer;
  background-color: var(--Very-dark-blue);
}

.questions__sub p {
  color: var(--Grayish-blue);
  padding: 0.5rem 0rem;
}

.questions hr {
  margin: 1.5rem 0rem;
  opacity: 0.5;
}

.strong {
  font-size: 55px;
  /* font-weight: var(--fw-bold); */
  line-height: 100%;
  font-weight: 1000;
}
.grid__item:nth-child(n+3){
  margin-block: 2rem;
}
.grid__item:nth-child(5) .flex__item {
  padding: 0%;
}
.grid__item:nth-child(6) .flex__item {
  padding: 0%;
}
.grid__item:nth-child(7) .flex__item {
  padding: 0%;
}

.flex__item img {
  width: 25%;
}

.flex__item {
  display: flex;
  gap: 1rem;
  padding: 3rem 0rem;
}

/* .div__item{
  height: 250px;
} */

.flex__item div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex__item div h1 {
  font-size: 30px;
  color: var(--Grayish-blue);
}

.flex__item div h3 {
  /* font-size: 16px; */
  font-weight: var(--fw-bold);
}

.flex__item div h3:hover {
  cursor: pointer;
  color: var(--Soft-red);
}

.flex__item div p {
  color: var(--Grayish-blue);
}
